.container
  .row
    .col-md-12
      .page-header
        %h1
          Tickets
      %p.lead
        Por favor compre su tickete para: 
        %strong
          = @conference.title
        aquí*

      %div.alert.alert-danger
        .content
          %p Tiene 15 días para comprar el tiquete, y enviarnos el comprobante o el sistema lo desregistrará del evento.
          %p Solo las siguientes personas están autorizadas para recibir dinero vía MoneyGram.
          %p Por favor escribir el nombres completo y en el asunto indicar "inscripción ECSL + su nombre completo"
          %p Solo se puede comprar un tiquete por registro

      =form_tag(conference_ticket_purchases_path, method: :post) do |f|
        %table.table.table-hover
          %thead
            %tr
              %th Ticket
              %th Quantity
              %th Price
              %th Total
          %tbody
          %tr
            %td
              %h4 Método de pago
          
              != ' <input type="radio" name="paymethod" value="Deposito bancario a Dialogía de Información y Comunicación S.C.">Deposito bancario a <b>Dialogía de Información y Comunicación S.C.</b><br><ul> <li><b>Cuenta IBAN (Internacional):</b> CR38015109620020034632</li> <li><b>Cuenta Banco Nacional (CR):</b> 200-02-096-003463-0</li> <li><b>Cuenta Cliente (CR):</b> 15109620020034632</li> <li><b>Cédula jurídica:</b> 3-106- 562299</li></ul></input>'
              != ' <input type="radio" name="paymethod" value="Luis Enrique Zárate Montero	402120119">MoneyGram Luis Enrique Zárate Montero	402120119</input> <br>'
              != ' <input type="radio" name="paymethod" value="José Daniel Jenkins Pérez	112470493">MoneyGram José Daniel Jenkins Pérez	112470493</input>  <br>'
              != ' <input type="radio" name="paymethod" value="Diego Gonzalo Chacón Rojas	205590806">MoneyGram Diego Gonzalo Chacón Rojas	205590806</input>  <br>'
              != ' <input type="radio" name="paymethod" value="Leonardo Jiménez Quijano	110140191">MoneyGram Leonardo Jiménez Quijano	110140191</input>  <br>'
            %td
            %td
            %td
          - @conference.tickets.each do |ticket|
            = render partial: 'ticket', f: f, locals: {ticket: ticket}
          %tr
            %td
            %td
            %td.col-sm-1.col-md-1.text-center
              %h4
                Total
            %td.col-sm-1.col-md-1.text-center
              %h4
                %strong
                  = @conference.tickets.first.price.symbol
                  %span{id: 'total_price'}
                    0
        .pull-right
          .btn-group-vertical
            = button_tag(type: 'submit', class: 'btn btn-success btn-lg') do
              Continue
              %i.fa.fa-shopping-cart
            - if current_user.ticket_purchases.by_conference(@conference).any?
              = link_to 'Back to registration', conference_conference_registration_path(@conference.short_title), class: 'btn btn-default btn-sm'
            - else
              = link_to 'Cancel registration', conference_conference_registration_path(@conference.short_title), method: :delete, class: 'btn btn-danger btn-sm',
                data: { confirm: 'Are you sure you want to unregister?' }
  .row
    .col-md-13
      %p.text-muted.text-center
        %small
          * Getting a ticket is mandatory. Your participation will not be valid until you get a ticket.

!= '<script>$("#tickets__3").on("change", function(){   if(this.value>0){     if( $("#tickets__2").val()>0 ){      $("#tickets__2").val(0);      $("#tickets__2").change();     }     if(this.value>1){       $("#tickets__3").val(1);       $("#tickets__3").change();     }   } }); $("#tickets__2").on("change", function(){   if(this.value>0){     if( $("#tickets__3").val()>0 ){      $("#tickets__3").val(0);      $("#tickets__3").change();     }     if(this.value>1){       $("#tickets__2").val(1);       $("#tickets__2").change();    }   } });</script>'
